<%# Sign in %>
<div class="alert-message danger fixed-notification fade in" id='please-sign-in'>
  <button type="button" class="close" data-dismiss="alert">×</button>

  <%= t('.request_sign_in').html_safe %>
</div>

<div class="alert-message danger fixed-notification fade in" id='cant-vote-for-own-votable'>
  <button type="button" class="close" data-dismiss="alert">×</button>

  <%= t('.cant_vote_for_own_votable').html_safe %>
</div>
