<!DOCTYPE html>
<html>
<head>
  <title>Jqame</title>
  <%= stylesheet_link_tag    "jqame/application", :media => "all" %>
  <%= javascript_include_tag "jqame/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
