div.answer {

    min-height: 160px;

    div.contents, div.comments {
        margin-left: 70px;
    }

    ul.options {
        list-style: none;
        display: inline-block;

        li { display: inline; }
    }

    div.body {
        @extend .well;
        margin-bottom: 10px;
    }

    div.elector {
        @extend .pull-right;
    }

}
