div#toggle-favorited {
    @extend .pull-left;

    width: 50px;

    a.add-to-favorites, a.remove-from-favorites {
        text-decoration: none;
        font-size: 24px;

        &:hover {
            text-decoration: none;
        }
    }

    div.times-favorited {
        color: $gray;
        font-weight: bold;
    }
}
