body#jqame-questions {

    div#comment-form-container {
        display: none;
    }

    %question-entry-side-note {
    }

    div.question-index-entry {
        @extend .span12;

        clear: both;
        border-bottom: 1px solid #DDD;
        margin-bottom: 5px;
        height: 50px;
        padding: 10px 0;

        div.question-contents {
            margin-left: 65px;

            div.title {
                font-size: 18px;
                margin: 0px auto;
            }
        }
    }

    div.question-tagged-entry {
    }

}
