div.suffrage {
    @extend .pull-left;

    width: 50px;
    text-align: center;

    div.stats {
        span.current-rating-value {
            font-size: 20px;
            color: $grayLight;
        }

        a {
            @extend %link-textified;

            color: $btnDangerBackground;
            float: left;
            margin-left: -20px;

            &:hover {
                color: $red;
            }

            i { font-size: 12px; }
        }
    }

    div.upvote, div.downvote {
        a {
            @extend %link-textified;

            i {
                color: $grayLight;
                cursor: pointer;
                font-size: 30px;

                &:hover {
                    color: $linkColorHover;
                }
            }

            i.active {
                color: $linkColor;
            }
        }
    }
}
