<div id='answer-<%= answer.id %>' class='answer'>
  <div class='body'>
    <%= answer.body %>
  </div>

  <%- if elector_signed_in? and current_elector.owns_suffrage?(answer) %>
    <div class='options'>
      <%= link_to t('.edit'), edit_answer_path(answer) %>
      <%= link_to t('.destroy'), answer_path(answer), method: 'delete', data: { confirm: t('common.are_you_sure?') } %>
    </div>
  <% end %>

  <div class='comment-form-placeholder'>
  </div>
</div>
