<div id='answer-<%= answer.id %>' class='answer'>
  <div class='body'>
    <%= answer.body %>
  </div>

  <%- if elector_signed_in? and current_elector.owns_votable?(answer) %>
    <div class='options'>
      <%= link_to t('.edit'), edit_question_answer_path(question_id: answer.question_id, id: answer) %>
    </div>
  <% end %>
</div>
