<div id='question-<%= question.id %>' class='question-entry'>
  <div class='title'>
    <%= link_to question.title, jqame.question_path(question) %>
  </div>

  <div class='body'>
    <%= truncate(question.body, length: 100) %>
  </div>
</div>

<hr />
