<div id='question-<%= question.id %>' class='question-index-entry'>

  <div class='question-contents'>
    <div class='title'>
      <%= link_to question.title, jqame.question_path(question) %>
    </div>

    <div class='body'>
      <%= truncate(question.body, length: 100) %>
    </div>
  </div>

</div>
